{% extends "layouts/main.html" %}

{% block pageTitle %}
  Article 4 Directions
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Planning",
        href: "#"
      },
      {
        text: "Article 4 Directions"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

      <h1 class="govuk-heading-xl">
        Article 4 Directions
      </h1>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#introduction">
                Introduction
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#ambridge">
                Ambridge
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#croxton">
                Croxton
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#fotheringhay-fields">
                Fotheringhay Fields
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#moorview">
                Moorview
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#data-and-other-resources">
                Data and other resources
              </a>
            </li>
            </li>
          </ol>
        </nav>
      </aside>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <h2 id="introduction" class="govuk-heading-m">
        Introduction
      </h2>
      
      <p>Under current planning legislation householders have the right to make alterations to their property without planning permission, called Permitted Development. An Article 4 Direction removes this right, so that certain types of alterations will require planning permission.</p>

      <h2 id="ambridge" class="govuk-heading-m">
        Ambridge
      </h2>

      <p>Some stuff about this Article 4 Direction.</p>

      <h2 id="croxton" class="govuk-heading-m">
        Croxton
      </h2>

      <p>Some stuff about this Article 4 Direction.</p>

      <h2 id="fotheringhay-fields" class="govuk-heading-m">
        Fotheringhay Fields
      </h2>

      <p>Some stuff about this Article 4 Direction.</p>

      <h2 id="moorview" class="govuk-heading-m">
        Moorview
      </h2>

      <p>Some stuff about this Article 4 Direction.</p>

      <h2 id="data-and-other-resources" class="govuk-heading-m">
        Data and other resources
      </h2>

      <p>This data is provided under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank">Open Government Licence</a>.</p>
      
      <h3 id="data" class="govuk-heading-s">
        Data
      </h3>

      <p><a href="#" target="_blank">Article 4 Direction areas (CSV, 328KB)</a></br><a href="#" target="_blank">Article 4 Direction documents (CSV, 108KB)</a></p>

    </div>
  </div>

{% endblock %}
